.calculator {
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
    padding: 10px;
}

.display {
    padding-right: 20px;
    text-align: right;
    background-color: white;
    font-size: 35px;
}

.clear {
    background-color: rgb(168, 70, 50);
    font-size: 35px;
}

.button {
    width: 75px;  
    background-color: white;
}

.hover {
    background-color: rgb(200, 200, 200)
}